<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>StaticWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   
    <servlet>
        <servlet-name>upd</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upd</servlet-name>
        <url-pattern>/update</url-pattern>    
    </servlet-mapping>
    
  
   <servlet>
        <servlet-name>ins</servlet-name>
        <servlet-class>Insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ins</servlet-name>
        <url-pattern>/insert</url-pattern>    
    </servlet-mapping>
    
    
   <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/delete</url-pattern>    
    </servlet-mapping>
    
    
   <servlet>
        <servlet-name>edt</servlet-name>
        <servlet-class>Edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edt</servlet-name>
        <url-pattern>/edit</url-pattern>    
    </servlet-mapping>
  
</web-app>